
.mainWrapper {
    /* flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 100%;
    flex-direction: row;
    align-content: flex-start;
    justify-items: flex-start;
    overflow-y: auto;
}

.mainWrapper ::-webkit-scrollbar {
    width: 5px;
}

.mainWrapper ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
  }

.moduleNoteElement {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: var(--common_border_radius);
    overflow: hidden;
    margin: 0px;
    flex-grow: 1;
    max-width: 500px;
    /* margin: 10px; */
}







.moduleNoteMain {
    flex-grow: 2;
    position: relative;
}

.moduleNoteMain .moduleTitleDiv {
    display: flex;
    align-items: center;
}

.moduleNoteMain .moduleTitleDiv .moduleTitle {
    margin: 10px 5px 10px 20px;
    font-size: 24px;
}

.moduleNoteMain .moduleTitleDiv p {
    color: rgba(0, 0, 0, 0.5);
    margin: 5px 0px 0px 10px;
    font-size: 14px;
}


.moduleNoteMain .noteElement {
    display: flex;
    margin: 5px 0px 5px 30px;
}

.moduleNoteMain .noteElement p {
    margin: 0px;
}

.moduleNoteMain .noteElement p:nth-child(1) {
    width: 200px;
}
.moduleNoteMain .noteElement p:nth-child(2) {
    font-weight: bold;
    font-size: 18px;
}
.moduleNoteMain .noteElement p:nth-child(3) {
    margin: 5px 0px 0px 5px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}
.moduleNoteMain .noteElement p:nth-child(4) {
    margin: 0px 10px 0px 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2px 10px;
}

.moduleNoteMain .noteElement:last-of-type {
    background-color: red;
    margin-bottom: 50px;
}

.moduleNoteMain .moduleMoyenneDiv {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: var(--common_border_radius);
    margin: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    padding: 10px;
    width: max-content;
}

.moduleNoteMain .moduleMoyenneDiv h3 {
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
}















.moduleNoteSide {
    /* width: 160px; */
    flex-grow: 1;
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 0px 0px;
}

.moduleNoteSide button {
    background-color: rgba(0, 0, 0, 0.05);
    text-align: left;
    border: none;
    width: 90%;
    border-radius: var(--common_border_radius);
    padding: 10px;
    margin: 3px;
}

.moduleNoteSide p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    justify-self: flex-end;
    /* margin: 5px 0px; */
    margin-top: auto;
}

.moduleNoteSide button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}






@media only screen and (max-width: 650px) {
    .moduleNoteElement {
        flex-direction: column;
    }
    
    .moduleNoteElement .moduleNoteSide {
        flex-direction: row;
    }

    .moduleNoteElement button {
        width: fit-content;
        flex-grow: 1;
        margin: 0px 5px 5px 5px;
    }

    .moduleNoteSide p {
        position: absolute;
        top: 5px;
        right: 10px;
    }
}