* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    display: flex;
    height: 100vh;
}

:root {
    --background_Dark : rgb(87, 87, 87);
    --background_Neutral : rgb(143, 143, 143);
    --background_Light : rgb(241, 241, 241);

    --common_border_radius : 10px;
}



.leftMenu {
    background-color: var(--background_Dark);
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftMenu .titleDiv {
    background-color: var(--background_Neutral);
    margin: 10px;
    width: 90%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.leftMenu .titleDiv h1 {
    color: white;
}

.leftMenu h3 {
    width: 90%;
    color: white;
}

.leftMenu .moduleMenu {
    width: 90%;
}

.leftMenu .moduleMenu .moduleElement {
    background-color: var(--background_Neutral);
    padding: 5px 5px;
    border-radius: 5px;
    position: relative;
    margin-top: 5px;
}

.leftMenu .moduleMenu .moduleElement p {
    margin: 0px;
    font-weight: 600;
}

.leftMenu .moduleMenu .moduleElement .notifDiv {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    right: 10px;
    top: 10px;
    background-color: var(--background_Light);
}















.mainPart {
    background-color: var(--background_Light);
    width: 60%;
    display: flex;
    flex-direction: column;
}

.mainPart .Top {
    background-color: var(--background_Dark);
    margin: 10px;
    border-radius: 10px;
    position: relative;
    height: 12%;
}

.mainPart .Top h1 {
    margin: 0px;
    color: white;
    padding: 10px 0px 40px 15px;
}

.mainPart .Top .filtreDiv {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    height: 30px;
}

.mainPart .Top .filtreDiv p {
    color: white;
    margin: 8px 0px;
}

.mainPart .Top .filtreDiv button {
    margin: 0px 5px;
    padding: 0px 20px;
    border: none;
    border-radius: 5px;
}

.mainPart .Top .filtreDiv button:hover {
    background-color: var(--background_Neutral);
}













.msgSection {
    /*height: 83%;*/
    display: flex;
    flex-grow: 1;
    flex-basis: 1;
    height: 80%;
}

.mainPart .contactSection {
    background-color: rgba(0, 0, 0, 0.2);
    width: 30%;
    margin: 10px;
    border-radius: var(--common_border_radius);
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
}

.mainPart .contactSection::-webkit-scrollbar {
    width: 5px; /* width of the scrollbar */
    border-radius: 10px;
}

.mainPart .contactSection::-webkit-scrollbar-track {
    height: 20%;
    background: rgba(0, 0, 0, 0);
}

.mainPart .contactSection::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.TPTDmoduleSection {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: var(--common_border_radius);
    margin-bottom: 10px;
    max-height: 200px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.TPTDmoduleSection h3 {
    margin: 0px;
    padding: 10px 0px 5px 15px;
    user-select: none;
}

.TPTDmoduleSection > .arrow {
    position: absolute;
    top: -5px;
    right: 10px;
    color: white;
    font-weight: bold;
    transform: rotate(180deg);
    cursor: pointer;
    user-select: none;
}

.TPTDmoduleSection .moduleTPTD {
    display: flex;
    opacity: 0;
}

.TPTDmoduleSection .moduleTPTD h4 {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0px;
    padding: 0px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.TPTDmoduleSection .moduleTPTD p {
    margin: 0px;
    height: 100%;
    align-self: center;
}

.TPTDmoduleSection .moduleTPTD .arrow {
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
    color: white;
    user-select: none;
}

.closed {
    overflow: hidden;
    max-height: 40px;
    cursor: pointer;
}

.closed .arrow {
    transform: rotate(0deg);
}

@keyframes TPTD_fadeIn {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.animateFadeIn {
    animation: TPTD_fadeIn 0.5s forwards 0.15s;
}

.TPTDmoduleSection .moduleTPTD:nth-of-type(1) {
    animation-delay: 0.1s;
}
.TPTDmoduleSection .moduleTPTD:nth-of-type(2) {
    animation-delay: 0.15s;
}
.TPTDmoduleSection .moduleTPTD:nth-of-type(3) {
    animation-delay: 0.2s;
}


            /*    MSG TEXT SECTION    */


.msgTxtSection {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 10px;
    border-radius: var(--common_border_radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.msgTxtSection h3 {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 22px;
    margin: 0px;
    padding: 10px 0px 7px 20px;
}

.msgTxtSection .msgWritingSection {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 75%);
}

.msgTxtSection .msgWritingSection input[type="text"] {
    font-size: 20px;
    padding: 10px 10px;
    margin: 10px;
    border: none;
    border-radius: var(--common_border_radius);
    flex-grow: 1;
}

.msgTxtSection .msgWritingSection input[type="text"]:focus {
    outline: none;
}

.msgTxtSection .msgWritingSection button {
    border: none;
    border-radius: var(--common_border_radius);
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px;
}


.msgTxtSection .msgContainer {
    flex-grow: 1;
}

.msgTxtSection .msgContainer .msgLine {
    /*background-color: rgba(0, 0, 0, 0.1);*/
    display: flex;
}

.msgTxtSection .msgContainer .msgLine .msgerIcon {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.msgTxtSection .msgContainer .msgLine .msgTxt {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.msgTxtSection .msgContainer .msgLine .msgTxt p {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: var(--common_border_radius);
    margin: 5px 0px;
    width: fit-content;
}

.ownMsgLine {
    flex-direction: row-reverse;
}

.msgTxtSection .msgContainer .ownMsgLine .msgTxt {
    align-items: flex-end;
}

.msgTxtSection .msgContainer .ownMsgLine .msgTxt p {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}






















.rightPart {
    background-color: var(--background_Light);
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightPart .profileDiv {
    width: 90%;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.rightPart .profileDiv .profilePicDiv {
    width: 30%;
    height: 70px;
    /*background-color: var(--background_Dark);*/
    background-image: url(https://www.w3schools.com/howto/img_avatar.png);
    border-radius: 100px;
    margin: 10px;
    aspect-ratio: 1 / 1;
}

.rightPart .profileDiv .profileTextDiv {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
}

.rightPart .profileDiv .profileTextDiv p {
    margin: 0px;
} 

.rightPart .profileDiv .profileTextDiv a {
    width: 80%;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 5px;
}

.rightPart .profileDiv .profileTextDiv a:hover {
    background-color: var(--background_Dark);
}


.rightPart .travaux {
    background-color: rgba(0, 0, 0, 0.1);
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.rightPart h3 {
    width: 90%;
    margin: 30px 0px 10px 0px;
}

.rightPart .travaux .travauxElement {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
}

.rightPart .travaux .travauxElement h3 {
    padding: 10px 0px 0px 10px;
    margin: 0px;
}

.rightPart .travaux .travauxElement p {
    padding: 0px 0px 10px 10px;
    margin: 0px;
}


